@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error Encountered</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

 <ul class="navbar-nav d-flex justify-content-end">
                                <li class="nav-item">
                                    <a class="btn btn-primary" asp-area="" asp-page="/Index">Back to Index</a>
                                </li>
                            </ul>
